<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Diverse Delights</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="./css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="./css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="./images/logo.png" alt="" /><span>
              Diverse Delights
            </span>
          </a>

          <div class="navbar-collapse" id="">
            <div class="container">
              <div class=" mr-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav justify-content-between ">
                  <div class="d-none d-lg-flex">
                    <li class="nav-item">
                      <a class="nav-link" href="fruit.html">
                       Numero de telefono: 012348567890</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="service.html">
                        DiverseDelights@gmail.com
                      </a>
                    </li>
                  </div>
                  <div class=" d-none d-lg-flex">
                    <li class="nav-item">
                      <a class="nav-link" href="contact.html">
                        inicio / Registro
                      </a>
                    </li>
                    <form class="form-inline my-2 ml-5 mb-3 mb-lg-0">
                      <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                  </div>
                </ul>
              </div>
            </div>

            <div class="custom_menu-btn">
              <button onclick="openNav()"></button>
            </div>
            <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content">
                <a href="index.html">INICIO</a>
                <a href="product.html">PRODUCTOS</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container-fluid">
                  <div class="row">
                    <div class="offset-md-2 col-md-4">
                      <div class="slider_item-detail">
                        <div>
                          <h2 class="slider_heading">
                           Productos
                          </h2>
                          <p>
                           Productos imprescindibles para todos y todas , siendo Diverse Delights una de las mejores opciones a la hora de hacer compras online .
                          </p>
                          <div class="d-flex">
                            <a href="/productos" class="slider_btn">
                              ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hero_img-box">
                        <img src="./images/hero.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container-fluid">
                  <div class="row">
                    <div class="offset-md-2 col-md-4">
                      <div class="slider_item-detail">
                        <div>
                          <h2 class="slider_heading">
                            Categorias
                          </h2>
                          <p>
                            En esta sección podras ver todas nuestras categorias disponibles para que puedas disfrutar de nuestros productos en todo momento mediante nuestros envios gratis por todo el territorio nacional.
                          </p>
                          <div class="d-flex">
                            <a href="/categorias" class="slider_btn">
                              ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hero_img-box">
                        <img src="./images/hero.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container-fluid">
                  <div class="row">
                    <div class="offset-md-2 col-md-4">
                      <div class="slider_item-detail">
                        <div>
                          <h2 class="slider_heading">
                            Catalogos
                          </h2>
                          <p>
                            Nuestra gran variedad de productos te ofrece la oportunidad de conseguir todo en un solo lugar , gran variedad de productos de todas las categorias , limpieza , lenceria , jugueteria etc.
                          </p>
                          <div class="d-flex">
                            <a href="#catalogos" class="slider_btn">
                              ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hero_img-box">
                        <img src="./images/hero.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>

    <!-- end slider section -->
  </div>

  <!-- detail section -->
  <section class="detail_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="detail_img-box">
            <img src="./images/detail.png" alt="" class="w-100" />
          </div>
        </div>
        <div class=" col-lg-7">
          <div class="detail_container">
            <div class="detail-box d-box-1">
              <a href="">
                <div class="detail-content">
                  <img src="./images/d-1.png" alt="" />
                  <h5>
                    Accesorios
                  </h5>
                </div>
              </a>
            </div>
            <div class="detail-box d-box-2">
              <a href="">
                <div class="detail-content">
                  <img src="./images/d-2.png" alt="" />
                  <h5>
                    Chicos
                  </h5>
                </div>
              </a>
            </div>
            <div class="detail-box d-box-3">
              <a href="">
                <div class="detail-content">
                  <img src="./images/d-3.png" alt="" />
                  <h5>
                    Bebes
                  </h5>
                </div>
              </a>
            </div>
            <div class="detail-box d-box-4">
              <a href="">
                <div class="detail-content">
                  <img src="./images/d-4.png" alt="" />
                  <h5>
                    Material
                  </h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end detail section -->

  <!-- products section -->
  <section class="products_section">
    <div class="heading_container">
      <h2 id='catalogos'>
        Lista de productos
      </h2>
      <p>
        Productos variados
      </p>
    </div>
    <div class="container layout_padding">
      <div class="product_container">
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p1.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $120.00
              </span>
              <p>
                Reloj Inteligente
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p2.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $110.00
              </span>
              <p>
                Reloj despertador
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p3.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
                Pantuflas
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p4.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
               Ventilador Industrial
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p5.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $110.00
              </span>
              <p>
                Diademas
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p6.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
                Lentes de sol
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p7.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
                Zapatos
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p8.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
                Bolso 
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p9.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
                Morral
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p10.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
                para cocina
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p11.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
                Pantuflas rosas
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="product_box">
            <div class="product_img-box">
              <img src="./images/p12.png" alt="" />
              <span>
                Comprar
              </span>
            </div>
            <div class="product_detail-box">
              <span>
                $150.00
              </span>
              <p>
                Diademas verdes
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- end products section -->

  <!-- find section -->
  <section class="find_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-8 offset-md-2">
          <div class="find_container">
            <div class="row">
              <div class="col-sm-6">
                <div class="find_container-img">
                  <img src="./images/find-img.png" alt="" />
                </div>
              </div>
              <div class="col-sm-6">
                <h3>
                  Productos escolares
                </h3>
                <p>
                  ver mas
                </p>
              </div>
            </div>
          </div>
          <div class="shop_container">
            <div class="row">
              <div class="col-sm-6">
                <p>
                  Para las consentidas de la casa
                </p>
                <h3>
                  todas las categorias
                </h3>
                <div>
                  <a href="">
                    Ver mas
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="shoe_img-box">
                  <img src="./images/shoes.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="find_img-box">
            <img src="./images/find-hero.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end find section -->
  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <h2>
        Testimonios de nuestros clientes
      </h2>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row layout_padding2">
              <div class="col-md-6">
                <div class="client_box">
                  <div class="client_id-box">
                    <div class="client_img-box">
                      <img src="./images/client.png" alt="" />
                    </div>
                    <h4>Doña barbara</h4>
                  </div>
                  <div class="client_detail">
                    <p>
                      En Diverse Delights e podido experimentar la posibilidad de comprar productos en linea de manera segura , obteniendo las mejores ofertas y descuentos para todos los clientes nuevos y frecuentes .
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="client_box">
                  <div class="client_id-box">
                    <div class="client_img-box">
                      <img src="./images/client.png" alt="" />
                    </div>
                    <h4>Harry potter</h4>
                  </div>
                  <div class="client_detail">
                    <p>
                      Deje las hechicerias para comprar productos y reevender a los mejores precios y con mayor alcance impacto y accesibilidad , no lo pienses mas conviertete en un usuario frecuente en esta maravillosa tienda online.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
       
        </div>
        <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">

          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">

          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    <div class="container">
      <div class="item_container">
        <div class="row">
          <div class="col-sm-7">
            <h3>
              Belleza y comodidad
            </h3>
            <p>
              Sección dedicada a las mas hermosas del hogar .
            </p>
            <div>
              <a href="">
                Ver mas
              </a>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="item_img-box">
              <img src="./images/items.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end client section -->

  <!-- sign section -->
  <section class="sign_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3>
            Suscribete para obtener todos los descuentos y ofertas.
          </h3>
          <p>
            Ingrese su correo electronico para suscribirse.
          </p>
        </div>
        <div class="col-md-7">
          <form action="">
            <input type="email" placeholder="Ingrese email" />
            <button>
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end sign section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container links_container">
      <div class="row ">
        <div class="col-md-3">
          <h3>
            Servicios
          </h3>
          <ul>
            <li>
              <a href="">
                Ayuda internacional
              </a>
            </li>
            <li>
              <a href="">
               Contactos y novedades
              </a>
            </li>
            <li>
              <a href="">
                  Politicas de privacidad
              </a>
            </li>
            <li>
              <a href="">
                Descuentos
              </a>
            </li>
            <li>
              <a href="">
                Informacion
              </a>
            </li>
            <li>
              <a href="">
                Terminos de ventas
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>
            Tu oferta
          </h3>
          <ul>
            <li>
              <a href="">
                Tu cuenta
              </a>
            </li>
            <li>
              <a href="">
                Tus ordenes
              </a>
            </li>
            <li>
              <a href="">
                productos internacionales
              </a>
            </li>
            <li>
              <a href="">
                Amazon Prime
              </a>
            </li>
            <li>
              <a href="">
                Markeplace
              </a>
            </li>
            <li>
              <a href="">
                Ayuda
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>
            Información
          </h3>
          <ul>
            <li>
              <a href="">
                Ofertas diarias
              </a>
            </li>
            <li>
              <a href="">
                Opciones
              </a>
            </li>
            <li>
              <a href="">
                Tiendas y mas
              </a>
            </li>
            <li>
              <a href="">
                Nuevos productos
              </a>
            </li>
            <li>
              <a href="">
                Competiciones
              </a>
            </li>
            <li>
              <a href="">
                Terminos de ventas
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>
            Carrito
          </h3>
          <ul>
            <li>
              <a href="">
                Detalles
              </a>
            </li>
            <li>
              <a href="">
                Aplicación online
              </a>
            </li>
            <li>
              <a href="">
                Otros productos
              </a>
            </li>
            <li>
              <a href="">
                Reembolsos
              </a>
            </li>
            <li>
              <a href="">
                Productos nacionales
              </a>
            </li>
            <li>
              <a href="">
                Selocción
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="follow_container">
        <div class="row">
          <div class="col-md-9">
            <div class="app_container">
              <h3>
                Descargar app

              </h3>
              <div>
                <img src="./images/google-play.png" alt="">
                <img src="./images/apple-store.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="info_social">
              <div>
                <a href="">
                  <img src="./images/fb.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="./images/twitter.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="./images/linkedin.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="./images/instagram.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2025 Todos los derechos reservados
      <a href="https://html.design/">Diverse Delights</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="./js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>
</body>

</html>